#menu-icon{
	position: absolute;
	right: 87%;
	width: 40px;
	height: 45px;
	margin-top: 7.5px;
}
#top-bar{
	height: 60px;
	background-color: rgba(20,20,20, .6);
}

#logo{
	padding: 5px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 60px;
}
#logo > img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


@media screen and (min-width: 640px) {
	#top-bar {
		height: 140px;
	}
	#logo{
		margin-left: 0.9375rem * 2;
		margin-top: 15px;
		height: 110px;
		padding: 0

	}
}
