#media-video{
	height: 580px;
}
@media screen and (max-width: 640px){
	#media-video{
		height: 360px;
		}
}
@media screen and (max-width: 440px){
	#media-video{
		height: 260px;
		}
}
.media-text{
	text-align: center;
}
.image-gallery-single-box{
	border-bottom: 2px solid #FAFAFA;
	padding-bottom: 10px;
}
#next-arrow{
	background-image: url(http://i.imgur.com/bLzmQaH.png);
	z-index: 100;
	background-color: rgba(255,255,255,.6);
	width: 50px;
	height: 50px;
	position: absolute;
	top: 405px;
	right: -5%;
	background-size: 50px 50px;
	transform: rotate 90deg;
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
#previous-arrow {
	background-image: url(http://i.imgur.com/bLzmQaH.png);
	z-index: 100;
	background-color: rgba(255,255,255,.8);
	width: 50px;
	height: 50px;
	position: absolute;
	top: 390px;
	left: -5%;
	background-size: 50px 50px;
	transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
}