@media screen and (max-width: 1024px) {
	.on-air-up-next{
	position: absolute;
	top: 200px;
	border-right: 2px solid rgba(0,0,0, .8);
	border-left: 2px solid rgba(0,0,0, .8);
	}
	#listen-box{

	}
	#on-air{
		margin-left: 33.25%;
		margin-bottom: 50px;
	}
	#up-next{
		margin-left: 66.5%
	}
	nav{
	margin-bottom: 160px !important;
	}
}

@media screen and (max-width: 639px) {
	.on-air-up-next{
		top: 70px;
	}

	body > header{
		margin-bottom: 140px !important;
	}
	nav {	
		position: fixed;
		height: 100%;
		width: 250px;
		overflow-y: auto;
		background: #333333;
		box-sizing: content-box;
		top: 0;
		left: 0;
		z-index: 1000;
		background-color: black;
		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
		li a {
			display: block;
			font-size: 1.8em;
			padding: 0.66667rem;
			color: rgba(255, 255, 255, 0.7);
			border-bottom: 1px solid #262626;
			}
		}

	}

	.nav-slide{
	position: relative;
	left: 250px;
	}	
}

@media screen and (min-width: 640px) {
	nav {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0;
		margin-bottom: 0;
		height: 50px;
		background-color: black;
		max-width: 62.5rem;
		padding-left: 0.9375rem * 2;

		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
			padding-top: 6px;
			li {
				display: inline;
				color: #FFF;
				a {
					color: #fff;
					display: inline-block;

					padding: 0 10px;
					height: 38px;
					line-height: 38px;
	  				-webkit-transition: background-color .25s ease-in;  
					&:hover {
					  color: white;
					  background-color: #00CDCD;
					}
					.active{
					  background-color: white;
 					  color: black;
					}
				}
			}
		}
	}
	header{
		#menu-icon{
			display: none;
		}
	}
}
