#show-container > h3{
  color: #FFF;
  position: relative;
  top: 10px;
}
.schedule-square, .show-square{
  height: 445px;
  background-color: #FFF;
  border-left: 1px solid #F1F1F1;
  border-right: 1px solid #f1f1f1;
  text-align: center;
  margin-top: 10px;
  border-bottom: 4px solid #F1F1F1;
  border-top: 4px solid #F1F1F1;
  cursor: pointer;
  transition: background-color .15s ease-in;
  transition: border-top .15s ease-in;
  transition: border-bottom .15s ease-in;
  -webkit-transition: background-color.15s ease-in;  
  -webkit-transition: border-top .15s ease-in;  
  -webkit-transition: border-bottom .15s ease-in;  
  h5{
    color: black;
  }
}
.show-square:hover{
  border-bottom: 4px solid #00CDCD;
  border-top: 4px solid #00CDCD;
  background-color: #FAFAFA;
  .times{
    border-bottom: 2px solid #FAFAFA;
  }
}
.schedule-square:hover{
  border-top: 4px solid #00CDCD;
  border-bottom: 4px solid #00CDCD;
  .times{
    border-bottom: 2px solid #FAFAFA;
  }
}
.show-name{
  height: 80px;
}
.times{
  background-color: #F1F1F1;
  height: 30px;
  padding-top: 2px;
  text-align: center;
  border-bottom: 2px solid #00CDCD;
  font-size: .9em;
  h6{
    position: relative;
    right: 5px;
    font-size: .9em;
    }
}
.times-container{
  position: absolute;
  bottom: 0px;
}
.blue-text{
  color: #00CDCD;
}
.show-about{
  border-left: 1px solid rgba(200,200,200, .5);
}
.show-about > p{
  color: #FFF;
}
#social-show-container > img {
  display: inline;
}
@media screen and (max-width: 1024px){
  .schedule-square, .show-square{
    height: 580px;
  }
  .show-name{
  height: 60px;
}
}
@media screen and (max-width: 640px){
  .schedule-square, .show-square{
    height: 460px;
  }
  .show-name{
  height: 40px;
}
}
@media screen and (max-width: 354px){
  .schedule-square, .show-square{
    height: 430px;
  }
  .show-name{
  height: 90px;
}
}

