body{
	background: url(../images/record3.gif) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	margin-bottom: 60px;
}
h1, h2, h3, h4, h5{
	color: white;
}
footer{
	z-index: -1;
	margin-bottom: 90px;
}
.footer-links{
	background-color: rgba(20,20,20, .7);
	margin-top: 10px;
	ul{
		list-style-type: none;
		li{
			padding-bottom: 0;
		}
	}
}
article{
	color: white;
	h6{
		color: white;
	}
}
.on-air-up-next{
	background-color: rgba(0,0,0, .4);
	border-bottom: 4px solid #00CDCD;
	height: 120px;
	text-align: center;
}
.on-air-up-next:hover{
	background-color: rgba(0,0,0, .8);
	border-bottom: 4px solid #008B8B;
}
#on-air{
	position: relative;
	left: 50px;
}