body{
	background: url(../images/record3.gif) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	margin-bottom: 60px;
}
h1, h2, h3, h4, h5{
	color: white;
}
footer{
	z-index: -1;
	margin-bottom: 90px;
}
.footer-links{
	background-color: rgba(20,20,20, .7);
	margin-top: 10px;
	ul{
		list-style-type: none;
		li{
			padding-bottom: 0;
		}
	}
}
article{
	color: white;
	h6{
		color: white;
	}
}
.on-air-up-next{
	background-color: rgba(0,0,0, .4);
	border-bottom: 4px solid #00CDCD;
	height: 120px;
	text-align: center;
	margin-right: 10px;
}
.on-air-up-next:hover{
	background-color: rgba(0,0,0, .8);
	border-bottom: 4px solid #008B8B;
}
#play-icon{
	color: #FAFAFA;
	transition: color .15s ease-in;
	-webkit-transition: color .15s ease-in; 
	font-size: 45px;
	position: relative;
	bottom: 7px;
	cursor: pointer;
	&:hover{
	color: #00CDCD;
	}
}
#volume{
	color: white;
	transition: color .15s ease-in;
	-webkit-transition: color .15s ease-in; 
	&:hover{
		cursor: pointer;
		color: #cc0000;
	}
}
.banner-links{
	height: 76px;
	background-color: rgba(0,0,0, .4);
	border-bottom: 2px solid #00CDCD;
	vertical-align: middle;
	margin-bottom: 5px;
	transition: background-color .15s ease-in;
	-webkit-transition: background-color .15s ease-in; 
	transition: border-bottom .15s ease-in;
	-webkit-transition: border-bottom .15s ease-in; 
	h4{
		color: #00CDCD;
		transition: color .15s ease-in;
		-webkit-transition: color .15s ease-in; 
	}
	&:hover{
		background-color: rgba(0,0,0, .8);
		border-bottom: 4px solid #008B8B;
		color: #FAFAFA;
		cursor:pointer;

		h4{
			color: #FAFAFA;
		}


	}

}