<div class="row" style="margin-top: 50px; background-color: rgba(0,0,0, .6); padding-bottom: 20px; padding-top: 10px;">
	<div class="large-12 columns" id="about-container">
		<dl class="tabs vertical" data-tab>
		  <dd class="active"><a href="#panel1a">MANAGERS</a></dd>
		  <dd><a href="#panel2a">CONTACT</a></dd>
		  <dd><a href="#panel3a">MISSION STATEMENT</a></dd>
		  <dd><a href="#panel4a">JOIN RADIO DEPAUL</a></dd>
		  <dd><a href="#panel5a">SPONSOR RADIO DEPAUL</a></dd>
		  <dd><a href="#panel6a">AWARDS AND RECOGNITION</a></dd>
		</dl>
		<div class="tabs-content vertical">
		  <div class="content active panels" id="panel1a">
		    <h2>Managers</h2>
		    <section class="large-4 small-6 columns manager-square">
	  			<div class="large-12 columns">
	    			<img src="http://placehold.it/350x350" style="padding-top: 10px;">
	    		</div>
	    			<div class="large-12 columns">
	    				<h5>Manager Name</h5>
	    				<h5>Title</h5>
	    				<h5>Email:</h5>
					</div>
			</section>
			<section class="large-4 small-6 columns manager-square">
	  			<div class="large-12 columns">
	    			<img src="http://placehold.it/350x350" style="padding-top: 10px;">
	    		</div>
	    			<div class="large-12 columns">
	    				<h5>Manager Name</h5>
	    				<h5>Title</h5>
	    				<h5>Email:</h5>
					</div>
			</section>	
			<section class="large-4 small-6 columns manager-square">
	  			<div class="large-12 columns">
	    			<img src="http://placehold.it/350x350" style="padding-top: 10px;">
	    		</div>
	    			<div class="large-12 columns">
	    				<h5>Manager Name</h5>
	    				<h5>Title</h5>
	    				<h5>Email:</h5>
					</div>
			</section>				
	      </div>
		</div>
		  <div class="content panels" id="panel2a">
		  	<div class="large-12 columns">
			    <h2>CONTACT</h2>
			    <div class="large-6  small-12 columns" id="contact-info">
			    	<h5>Station Phone:</h5>
			    	<p>(773) 325-7308</p>
			    	<h5>Station Fax:</h5>
			    	<p>(773) 325-4133</p>
			    	<h5>Station Mailing Address:</h5>
			    	<p>Radio DePaul<br/>
			    	2250 N. Sheffield Avenue, Suite 317<br/>
			    	Chicago, IL 60614</p>
			    </div>
			    <div class="large-6  small-12 columns">
			    	<form action="" id="userform">
			    		<label>Your Name</label>
			    		<input type="text" form="userform" placeholder="First and Last Name" />
			    		<label>Your Email</label>
			    		<input type="text" form="userform" placeholder="example@depaul.edu" />
			    		<label>Subject</label>
			    		<input type="text" form="userform" placeholder="example@depaul.edu" />
			    		<label>Content</label>
			    		<textarea name="comtent" form="userform" type="textarea" style="height: 150px;"></textarea>
			    		<input type="submit" class="button" value="Send">
			    	</form>
			    </div>
		    </div>
		   	</div>
		  </div>
		  <div class="content panels" id="panel3a">
		  	<div class="large-12 columns">
		      <h2>MISSION STATEMENT</h2>
			    <div class="large-12 columns" id="mission-statement">
				    <p>Act as an educational and practical training ground for those students who are interested in pursuing radio as a career. Entertain and Inform our audience through innovative and consistent music and non-music programming. Serve the DePaul community by promoting University services, events, and activities. Work cooperatively with other campus groups and organizations to promote and support a varied and exciting collegiate experience for students.</p>
				</div>
			  </div>
		  </div>
		  <div class="content panels" id="panel4a">
		  	<div class="large-12 columns">
			    <h2>JOIN RADIO DEPAUL</h2>
			    <div class="large-12 columns" id="join-box">
				    <h5 class="blue-text">Eligibility for Participation</h5>
				    <p>
					Only full-time students in good academic standing (2.5 GPA or higher) at DePaul are eligible for FULL membership in Radio DePaul. 
					<br/>
					University faculty members, staff and members of the community also shall be eligible for ASSOCIATE membership through petition to the Student Advisory Committee. 
					<br/>Membership constitutes active participation in the organization. 
					<br/>Radio DePaul shall not discriminate against any person on the basis of race, color, sex, sexual preference, disabilities, national origin, religious affiliation, or beliefs. 
					</p>
					<h5 class="blue-text">Rights and Privileges of Membership</h5>
					<p>The number of persons who may be members of Radio DePaul may be limited depending on the availability of on or off-air positions. 
					<br/>Only FULL members of the organization shall be eligible to hold management positions.</p>
				</div>
			</div>
		  </div>
		  <div class="content panels" id="panel5a">
		  	<div class="large-12 columns">
		    	<h2>SPONSOR RADIO DEPAUL</h2>
		    	<div class="large-12 columns" id="sponsor-box">
		    		<p>Sponsoring Radio DePaul is easy and affordable. We have a number of packages that may be right for your organization or business. It is also possible to design your own custom sponsorship package. Please check out ourmedia kitand contact us with any questions you have. Keep in mind that in addition to being heard on our site, Radio DePaul is one of handful of college stations that is available on the very popular iHeartRadio app and website. In other words, your organization or businesses name is going to reach a lot of people. Thanks for considering Radio DePaul, Chicago's College Connection!</p>
		    		<a href="#" class="button">VIEW / DOWNLOAD MEDIA KIT</a>
		    		<h5 class="blue-text">Contact Information</h5>
		    		<h5>Scott Vyverman, General Manager</h5>
		    		<h6>Email: <a href="mailto:radiodepaulmanagement@gmail.com">radiodepaulmanagement@gmail.com</a><h5>
		    		<h6>Phone: (773) 325-7399</h6>
		    		<h6>Fax: (773) 325-4133</h6>
		    	</div>
		    </div>
		  </div>
		  <div class="content panels" id="panel6a">
		  	<div class="large-12 columns" id="awards-box">
		    	<h2>AWARDS AND RECOGNITION</h2>
		    	<div class="large-12 columns" id="award">
			    	<h4 class="blue-text">AWARD TITLE</h5>
			    	<h5>YEAR</h5>
			    	<h5>GIFTED BY</h5>
		    	</div>
	    	<div class="large-12 columns" id="award">
		    	<h4 class="blue-text">AWARD TITLE</h5>
		    	<h5>YEAR</h5>
		    	<h5>GIFTED BY</h5>
	    	</div>
	      </div>
		  </div>
		</div>
		</div>
	</div>
