    <div class="row home-content">
      <div class="small-12 columns" id="banner-container">
        <img src="images/station.jpg" alt="Radio Depaul Station" />
      </div>
      <!-- NEWS -->
      <div class="small-12 columns">
          <h4>LATEST <b>NEWS</b></h4>
      </div>
      <article>
        <div class="small-12 columns news-container">
          <div class="small-6 large-4 columns">
            <img src="http://placehold.it/300x200" style="margin-top: 5px;"/>
          </div>
          <div class="small-6 large-8 columns">
            <header>
              <h5><b>Post Title</b></h5>
            </header>
            <p>This is the post information...<a href=""> READ MORE</a></p>
          </div>
        </div>
      </article>

      <article>
        <div class="small-12 columns news-container">
          <div class="small-6 large-4 columns">
            <img src="http://placehold.it/300x200" style="margin-top: 5px;"/>
          </div>
          <div class="small-6 large-8 columns">
            <header>
              <h5><b>Post Title</b></h5>
            </header>
            <p>This is the post information...<a href=""> READ MORE</a></p>
          </div>
        </div>
      </article>
    </div>
      <!-- COMING UP -->
      <div class="row home-content">
        <div class="small-12 columns" style="margin-top: 10px;">
            <h4>COMING <b>UP</b></h4>
        </div>
        <article>
          <div class="small-6 columns coming-up-container">
            <div class="small-12  columns">
              <img src="http://placehold.it/450x150" style="margin-top: 5px;"/>
            </div>
            <div class="small-12 columns">
              <header>
                <h5><b>Post Title</b></h5>
              </header>
              <p>This is the post information...<a href=""> READ MORE</a></p>
            </div>
          </div>
        </article>
        <article>
          <div class="small-6 columns coming-up-container">
            <div class="small-12  columns">
              <img src="http://placehold.it/450x150" style="margin-top: 5px;"/>
            </div>
            <div class="small-12 columns">
              <header>
                <h5><b>Post Title</b></h5>
              </header>
              <p>This is the post information...<a href=""> READ MORE</a></p>
            </div>
          </div>
        </article>
        <article>
          <div class="small-6 columns coming-up-container">
            <div class="small-12  columns">
              <img src="http://placehold.it/450x150" style="margin-top: 10px;"/>
            </div>
            <div class="small-12 columns">
              <header>
                <h5><b>Post Title</b></h5>
              </header>
              <p>This is the post information...<a href=""> READ MORE</a></p>
            </div>
          </div>
        </article>
        <article>
          <div class="small-6 columns coming-up-container">
            <div class="small-12  columns">
              <img src="http://placehold.it/450x150" style="margin-top: 10px;"/>
            </div>
            <div class="small-12 columns">
              <header>
                <h5><b>Post Title</b></h5>
              </header>
              <p>This is the post information...<a href=""> READ MORE</a></p>
            </div>
          </div>
        </article>
      </div>

