    <div class="row home-content">
      <div class="small-12 large-10 columns" id="banner-container">
        <img src="images/station.jpg" alt="Radio Depaul Station" />
      </div>
      <div class="large-2 columns show-for-large-up banner-links">
        <h4>Pop-Up Player</h4>
      </div>
      <div class="large-2 columns show-for-large-up banner-links">
        <h4>Watch the Webcam</h4>
      </div>
      <div class="large-2 columns show-for-large-up banner-links">
        <h4>Live Chat</h4>
      </div>
      <div class="large-2 columns show-for-large-up banner-links">
        <h4>Download Streamfile</h4>
      </div>
    </div>
      <!-- NEWS -->
    <div class="row home-content">
      <div class="small-12 columns">
          <h4>LATEST <b>NEWS</b></h4>
      </div>
      
      <article ng-repeat="story in news">
        <div class="small-12 columns news-container">
          <div class="small-12 medium-4 columns">
            <img ng-src="{{story.image_url}}" width=300 height=200 />
          </div>
          <div class="small-12 medium-8 columns">
            <header>
              <h5><b>{{story.headline}}</b></h5>
            </header>
            <p>{{story.snippet}}...<a href="#/news/{{story.id}}"> READ MORE</a></p>
          </div>
        </div>
      </article>
    </div>
  </div>
      <!-- COMING UP -->
      <div class="row home-content">
        <div class="small-12 columns" style="margin-top: 10px;">
            <h4>COMING <b>UP</b></h4>
        </div>
        <article ng-repeat="event in events">
          <div class="small-12 columns medium-6 coming-up-container">
            <div class="small-12  columns">
              <img src="http://placehold.it/450x150" style="margin-top: 5px;"/>
            </div>
            <div class="small-12 columns">
              <header>
                <h5><b>{{event.title}}</b></h5>
              </header>
              <p>{{event.first_line}}</p>
              <p>{{event.second_line || "&nbsp;"}}</p>
            </div>
          </div>
        </article>
      </div>
    <div class="row" id="ads-div">
      <h4>OUR <b>SPONSORS</b></h4>
      <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
        <li ng-repeat="sponsor in sponsors"><a ng-href="{{sponsor.url}}"><img ng-src="{{sponsor.image}}"/></a></li>
      </ul>
    </div>

