<div class="row" style="margin-top: 50px; background-color: rgba(0,0,0, .6); padding-bottom: 20px; padding-top: 10px;">
	<div class="large-12 small-12 columns">
		<iframe width="100%" id="media-video" src="//www.youtube.com/embed/YbU0H7bIPHg?feature=player_embedded" frameborder="0" allowfullscreen></iframe>
	</div>
	<div class="large-12 small-12 columns">
		<br/>
		<h3>Galleries</h3>
		<hr/>
		<flickr>
			<photoset ng-repeat="pset in photosets" id="{{pset}}"></photoset>
			<lightbox></lightbox>
		</flickr>
		<div class="row">
			<div class="large-4 small-6 columns">
				<h5 class="blue-text media-text">Radio DePaul 2009-2010</h5>
				<img class="image-gallery-single-box" src="../images/2009-2010.jpg" width="293" height="210"/>
			</div>
			<div class="large-4 small-6 columns">
				<h5 class="blue-text media-text">Radio DePaul 2010-2011</h5>
				<img class="image-gallery-single-box" src="../images/2010-2011.jpg" width="293" height="210"/>
			</div>
			<div class="large-4 small-6 columns">
				<h5 class="blue-text media-text">Radio DePaul 2011-2012</h5>
				<img class="image-gallery-single-box" src="../images/2011-2012.jpg" width="293" height="210"/>
			</div>
		</div>
		<!-- ROW TWO -->
		<div class="row">
			<div class="large-4 small-6 columns">
				<h5 class="blue-text media-text">"Timeless Vibrations"</h5>
				<img class="image-gallery-single-box" src="../images/timeless-vibrations.jpg" width="293" height="210"/>
			</div>
			<div class="large-4 small-6 columns">
				<h5 class="blue-text media-text">Visiting Dignitaries</h5>
				<img class="image-gallery-single-box" src="../images/visiting-dignitaries.jpg" width="293" height="210"/>
			</div>
			<div class="large-4 small-6 columns">
				<h5 class="blue-text media-text">Awards and Recognition</h5>
				<img class="image-gallery-single-box" src="../images/awards.jpg" width="293" height="210" />
			</div>
		</div>
	</div>
</div>
