<div class="row" style="margin-top: 50px; background-color: rgba(0,0,0, .6); padding-bottom: 20px;">
  <div class="large-12 columns" id="schedule-container">
  	<nav>
      <ul>
        <li ng-repeat='day in days' ng-class='{selected: $parent.selected == day}', ng-click='$parent.selected = day'>
          <a href="">{{day | uppercase }}</a>
        </li>
      </ul>
	  </nav>
    <h3>AM</h3>
	  <hr/>
  		
    <div class="large-12 columns">
  		<section class="large-3 small-6 columns schedule-square" ng-repeat='slot in filteredShows = (schedule | filter: {weekdays:selected}) | filter: {start_time:"AM"}'>
  			<div class="large-12 columns">
    			<img ng-src="{{slot.show.avatar_medium}}" style="padding-top: 10px;">
    		</div>
    		<div class="large-12 columns">
    			<h4 class="show-name">{{slot.show.title}}</h4>
    			<h5>{{slot.show.hosts_list}}</h5>

    			</div>
    			<div class="row">
    				<div class="large-4 large-offset-1 columns times">
    					{{slot.start_time}}
    				</div>
    				<div class="large-2 columns" style="padding-top: 5px;">
    				to
    				</div>
    				<div class="large-4 columns times">
    					{{slot.end_time}}
    				</div>
    				<div class="large-1 columns">
    				</div>
    		</div>
  		</section>
    </div>
  		<h3 style="color: white;">PM</h3>
    	<hr/>
    <div class="large-12 columns">
      <section class="large-3 small-6 columns schedule-square" ng-repeat='slot in filteredShows = (schedule | filter: {weekdays:selected}) | filter: {start_time:"PM"}'>
        <div class="large-12 columns">
          <img ng-src="{{slot.show.avatar_medium}}" style="padding-top: 10px;">
        </div>
        <div class="large-12 columns">
          <h4 class="show-name">{{slot.show.title}}</h4>
          <h5>{{slot.show.hosts_list}}</h5>

          </div>
          <div class="row">
            <div class="large-4 large-offset-1 columns times">
              {{slot.start_time}}
            </div>
            <div class="large-2 columns" style="padding-top: 5px;">
            to
            </div>
            <div class="large-4 columns times">
              {{slot.end_time}}
            </div>
            <div class="large-1 columns">
            </div>
        </div>
      </section>
    </div>

  </div>
	</div>
