<div class="row" style="margin-top: 50px; background-color: rgba(0,0,0, .6); padding-bottom: 20px; padding-top: 10px;">
  <div class="large-12 columns" id="show-container">
    <div class="large-4 columns small-6">
      <h3 style="color: #FFF; position:">{{show.title}}</h3>
      <img ng-src="{{show.avatar_medium}}" style="padding-top: 10px;">
        <div class="twitter-icon">
          <a href="http://www.twitter.com/{{show.twitter_username}}">
            <img src="images/twitter.png" style="float: right;"/>
          </a>
        </div>
        <div class="facebook-icon" style="float: right;">
          <a href="{{show.facebook_page_username}}">
            <img src="images/facebook.png" style="float: right;"/>
          </a>
        </div>
        <br/><br/><br/>
        <section id="podcasts">
          <h3 class="blue-text">Podcasts</h3>
          <div ng-repeat="podcast in show.podcasts">
            <h5 class="blue-text podcast-date">{{podcast.created_at | date}}</h5>
            <audio controls>
              <source ng-src="{{podcast.file}}" type="audio/mpeg">
              Your browser does not support the audio element.
            </audio>
          </div>
        </section>
    </div>
    <div class="large-8 columns small-6 show-about">
      <h3 class="blue-text">Genres</h3>
       <span ng-repeat="genre in show.genres_list" class="success label">{{genre.name}}</span>
      <h3 class="blue-text">Description</h3>
      <p>{{show.long_description}}</p>
      <h3 class="blue-text">Hosts</h3>
      <a href="#/people/{{host.id}}" style="margin-right: 5px;" class="button" ng-repeat="host in show.hosts">{{host.name}}</a>

    </div>
  </div>
</div>