<div class="row" style="margin-top: 50px; background-color: rgba(0,0,0, .6); padding-bottom: 20px; padding-top: 10px;">
  <div class="large-12 columns" id="show-container">
    <h3 style="color: #FFF;">Show Name</h3>
    <div class="large-4 columns small-6">
      <img src="http://placehold.it/350x350" style="padding-top: 10px;">
        <div class="twitter-icon">
          <img src="img/twitter.png" style="float: right;"/>
        </div>
        <div class="facebook-icon" style="float: right;">
          <img src="img/facebook.png" style="float: right;"/>
        </div>
        <br/><br/><br/>
        <section id="podcasts">
          <h3 class="blue-text">Podcasts</h3>
          <audio controls>
            <source src="horse.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
        </section>
    </div>
    <div class="large-8 columns small-6 show-about">
      <h3 class="blue-text">Genres</h3>
       <span class="success label">Pop</span>
       <span class="success label">Punk</span>
       <span class="success label">Rock</span>
       <span class="success label">Indie</span>
       <span class="success label">Power Pop</span>
       <span class="success label">J-Pop</span><br/><br/>
      <h3 class="blue-text">Description</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
      <h3 class="blue-text">Hosts</h3>
      <a href="#" class="button">Host Name</a>
      <a href="#" class="button">Host Name 2</a>

    </div>
  </div>
</div>