<div class="row" style="margin-top: 50px; background-color: rgba(0,0,0, .6); padding-bottom: 20px; padding-top: 10px;">
  <div class="large-12 columns" id="show-container">
    <div class="large-4 columns small-6">
      <h3 style="color: #FFF; position:">{{show.title}}</h3>
      <img ng-src="{{show.avatar_medium}}" style="padding-top: 10px;">
        <div class="twitter-icon">
          <a href="http://www.twitter.com/{{show.twitter_username}}">
            <img src="images/twitter.png" style="float: right;"/>
          </a>
        </div>
        <div class="facebook-icon" style="float: right;">
          <a href="{{show.facebook_page_username}}">
            <img src="images/facebook.png" style="float: right;"/>
          </a>
        </div>
        <br/><br/><br/>
        <section id="podcasts" ng-repeat="">
          <h3 class="blue-text">Podcasts</h3>
          <h5 class="blue-text podcast-date">10/18/13</h5>
          <audio controls>
            <source src="horse.ogg" type="audio/ogg">
            <source src="horse.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
        </section>
    </div>
    <div class="large-8 columns small-6 show-about">
      <h3 class="blue-text">Genres</h3>
       <span class="success label">Pop</span>
       <span class="success label">Punk</span>
       <span class="success label">Rock</span>
       <span class="success label">Indie</span>
       <span class="success label">Power Pop</span>
       <span class="success label">J-Pop</span><br/><br/>
      <h3 class="blue-text">Description</h3>
      <p>{{show.long_description}}</p>
      <h3 class="blue-text">Hosts</h3>
      <a href="#/people/{{host.id}}" style="margin-right: 5px;" class="button" ng-repeat="host in show.hosts">{{host.name}}</a>

    </div>
  </div>
</div>