<div class="row" style="margin-top: 50px; background-color: rgba(0,0,0, .6); padding-bottom: 20px; padding-top: 10px;">
  		<div class="large-12 columns" id="shows-container">
        <div class="large-12 columns">
          <div class="large-1 columns">
  			   <h1 class="h1-class" style="color: white; margin-top: 10px;">SHOWS</h1>
          </div>
          <div class="large-5 columns">
            <input type="text" placeholder="Search for a Show" style="margin-top: 12px;" ng-model='showSearchText' />
          </div>
        </div>
			
  			<a ng-href="#/shows/{{show.id}}" class="large-3 medium-4 small-6 columns show-square" ng-repeat='show in filteredItems = (shows | filter:showSearchFilter) | startFrom:currentPage*pageSize | limitTo:pageSize'>
  				<div class="large-12 columns">
  	  				<img ng-src="{{show.avatar_thumb}}" class="show-avatar" width=350 height=350>
  	  			</div>
  	  			<div class="large-12 columns">
  	  				<h4 class="show-name blue-text" text-fit>{{show.title}}</h4>
  	  				<h5 class="show-hosts" text-fit>{{show.hosts_list}}</h5>
              <span ng-show='show.show.genres'>{{show.show.genres}}</span>
  	  				<h6>{{show.slot.days}}</h6>

  	  			</div>
  	  			<div class="row">
              <div class="large-12 small-12 column times-container" ng-show="show.slot">
    	  				<div class="large-4 large-offset-1 columns times">
    	  					<h6>{{show.slot.start_time}}</h6>
    	  				</div>
    	  				<div class="large-1 columns times" style="padding-top: 7px;">
    	  				 <span style="position: relative; right: 4px;">to</span>
    	  				</div>
    	  				<div class="large-4 columns times end-time">
    	  					<h6>{{show.slot.end_time}}</h6>
    	  				</div>
    	  				<div class="large-1 columns">
    	  				</div>
              </div>
  	  		</div>
  			</a>

  		</div>
      <pagination page-size='8' count='filteredItems.length'></pagination>
     </div>
</div>