<div class="row" style="margin-top: 50px; background-color: rgba(0,0,0, .6); padding-bottom: 20px; padding-top: 10px;">
  		<div class="large-12 columns" id="shows-container">
        <div class="large-12 columns">
          <div class="large-1 columns">
  			   <h4 style="color: white; margin-top: 10px;">SHOWS</h4>
          </div>
          <div class="large-2 large-offset-4 columns">
            <a href="#" class="button split" style="margin-top: 5px;"><img src="http://www.iconsdb.com/icons/preview/white/filled-filter-xxl.png" width="30px"/> <span data-dropdown="drop"></span></a><br>
              <ul id="drop" class="f-dropdown" data-dropdown-content>
                <li><a href="#">Show Name (A-Z)</a></li>
                <li><a href="#">Show Name (Z-A)</a></li>
                <li><a href="#">Show Host (A-Z)</a></li>
                <li><a href="#">Show Host (Z-A)</a></li>
              </ul>
          </div>
          <div class="large-5 columns">
            <input type="text" placeholder="Search for a Show" style="margin-top: 12px;" />
          </div>
        </div>
			
  			<section class="large-3  small-6 columns show-square" ng-repeat="show in shows">
  				<div class="large-12 columns">
  	  				<img ng-src="{{show.avatar_thumb}}" style="padding-top: 10px;" width=350 height=350>
  	  			</div>
  	  			<div class="large-12 columns">
  	  				<h4 class="show-name blue-text" text-fit>{{show.title}}</h4>
  	  				<h5>{{show.hosts.join(", ")}}</h5>
  	  				<h6>MONDAYS</h6>

  	  			</div>
  	  			<div class="row">
              <div class="large-12 small-12 column times-container">
    	  				<div class="large-4 large-offset-1 columns times">
    	  					<h6>10:00am</h6>
    	  				</div>
    	  				<div class="large-1 columns times" style="padding-top: 6px;">
    	  				to
    	  				</div>
    	  				<div class="large-4 columns times end-time">
    	  					<h6>12:00am</h6>
    	  				</div>
    	  				<div class="large-1 columns">
    	  				</div>
              </div>
  	  		</div>
  			</section>

  		</div>
      <div class="row">
        <div class="small-11 small-centered large-4 large-centered columns" style="position: relative; top: 10px;">
          <ul class="pagination">
            <li class="arrow unavailable"><a href="">&laquo;</a></li>
            <li class="current"><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>
            <li><a href="">4</a></li>
            <li><a href="">12</a></li>
            <li><a href="">13</a></li>
            <li class="arrow"><a href="">&raquo;</a></li>
          </ul>
        </div>

     </div>
</div>