<style type="text/css">
	body{
		background-image: url(images/womens-bball2.jpg);
	}
</style>

<div class="row" style="margin-top: 50px; background-color: rgba(0,0,0, .6); padding-bottom: 20px; padding-top: 10px;">
	<div class="large-12 columns">
	    <div class="large-10 small-8 columns">
			<h3>Radio DePaul <b>Sports</b></h3>
			<div class="crop">
				<img alt="DePaul Mens Basketball" src="images/mens-soccer.png" id="sports-home-image"/>
				<div id="webcam-player" style="display: none;"></div>
			</div>
		</div>
		<div class="large-2 small-4 columns" id="sports-listen-box">
			<h3 class="blue-text text-center" id="sports-stream-text">Sports Stream</h3>
			<audio id="sports-player" controls>
		      <source src="http://rock.radio.depaul.edu:8002/stream.mp3" />
		    </audio>
	    </div>
	    <div class="large-2 small-4 columns">
			<h3 class="blue-text text-center">Links</h3>
			<a href="http://rock.radio.depaul.edu:8002/listen.pls?sid=2"><input type="button" class="button small margin-left" value="Streamfile"/> </a>
			<input type="button" class="button small margin-left" value="Webcam" onClick="sportsWebcam();"/>
			<input type="button" class="button small margin-left" value="Live Chat" onClick="showChat();">
	    </div>
	</div>
</div>
<!-- Podcasts coming soon
<div class="row" style="margin-top: 50px; background-color: rgba(0,0,0, .6); padding-bottom: 20px; padding-top: 10px;">
	<div class="large-12 colimns">
		<h3 class="margin-left blue-text">Featured Podcasts</h3>
		<div class="small-4 columns sports-home-podcasts-box">
			<h5 class="blue-text">Description</h5>
			<audio controls>
		      <source src="http://rock.radio.depaul.edu:8002/stream.mp3" />
		    </audio>
		</div>
		<div class="small-4 columns sports-home-podcasts-box" id="middle-podcast">
			<h5 class="blue-text">Description</h5>
			<audio controls>
		      <source src="http://rock.radio.depaul.edu:8002/stream.mp3" />
		    </audio>
		</div>
		<div class="small-4 columns sports-home-podcasts-box">
			<h5 class="blue-text">Description</h5>
			<audio controls>
		      <source src="http://rock.radio.depaul.edu:8002/stream.mp3" />
		    </audio>
		</div>
	</div>
</div>
<div class="row" style="margin-top: 50px; background-color: rgba(0,0,0, .6); padding-bottom: 20px; padding-top: 10px;">
	<div class="large-12 colimns">
		<h3 class="margin-left blue-text">Radio DePaul Sports Shows</h3>
		<div class="small-4 columns">
			<h3>Show Title</h3>
			<img src="images/logo.png" width="300" height="300" />
			<a href="#"><input type="button" class="button small" value="Host Name"/> </a>
			<a href="#"><input type="button" class="button small" value="Host Name"/> </a>
		</div>
		<div class="small-4 columns">
			<h3>Show Title</h3>
			<img src="images/logo.png" width="300" height="300" />
			<a href="#"><input type="button" class="button small" value="Host Name"/> </a>
			<a href="#"><input type="button" class="button small" value="Host Name"/> </a>
		</div>
		<div class="small-4 columns">
			<h3>Show Title</h3>
			<img src="images/logo.png" width="300" height="300" />
			<a href="#"><input type="button" class="button small" value="Host Name"/> </a>
			<a href="#"><input type="button" class="button small" value="Host Name"/> </a>
		</div>
	</div>
</div>
-->